body {
  font-family: "Roboto", sans-serif;
}

.heading {
  display: flex;
  padding: 0px 215px;
  width: 1170px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  align-items: center;
  margin: 0px;
  /*justify-content: space-between;*/
}
.webstydia {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}
.shit {
  color: #212121;
}
.menu {
  display: flex;
  list-style: none;
}
.studia {
  margin-right: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}
.portfolio {
  margin-right: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}
.contacs {
  margin-right: 331px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
}

.bly {
  color: #2196f3;
}
.mail {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 50px;
}
.telefon {
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #757575;
}
/* конец общей верхней части */
.main__hi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
.hi__title {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hi__button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #2196f3;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.content__adv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

.content__adv_item-title-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 94px;
  text-transform: uppercase;
}

.content__adv_item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-bottom: 94px;
}
.main__content {
  width: 1170px;
  padding: 0px 215px;
}
.content__what {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  justify-content: center;
  padding: 0px 215px;
}
.content__what_title {
  text-align: center;
  font-size: 36px;
}

.content__what_imgs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}

.content__what_imgs-image {
  margin-right: 20px;
}

.team {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: center;
}
.peoples {
  font-size: 16px;
  line-height: 0.84px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.peoples-2 {
  font-size: 16px;
  line-height: 0.84px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 180px 215px 94px 215px;
  width: 1170px;
}
.buttons {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-decoration: none;
  background: #f5f4fa;
  margin-right: 8px;
  white-space: nowrap;
}
.items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.bot-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.bot-pre-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.items-2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.bot {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
.item {
  margin-right: 30px;
}

/* Футер для всех */
.end {
  padding: 60px 215px;
  width: 1170px;
  background-color: #2f303a;
}
.webstydia_2 {
  width: 145px;
  height: 31px;
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}
.call {
  list-style: none;
  display: flex;
}
.adress {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.shit-2 {
  color: #ffffff;
}
.workspake {
  padding: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f4fa;
  width: 1330px;
}
.mail_2 {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 171%;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}
.telefon_2 {
  width: 231px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
ul,
li {
  margin: 0;
  padding: 0;
}
